body {
  background-color: rgb(222,222,222);
  /* z-index: 100; */
}

a{
  color: white;
}

.h4-title{
  background-color: rgb(239,239,239);
  color: #AAAAAA;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 26px;
  padding-top: 60px;
  margin:0;
  margin-bottom: 15px;
}
.arrow-icon {
  margin-left: 10px;

}
#main, #watch-list {
  background-color: rgb(239,239,239);
}

#heading  {
  background-color: black;
  background-image: url(/img/heading/handmaid.jpg);
  width: 1600px;
  height: 600px;
  background-repeat:no-repeat;
  display:block;

}

#header {
  height: 41px;
  width: 100%;
  padding-top: 19px;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-flex;
}

#header ul {
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
  display: inline-flex;
  color: white;
  padding-left: 10px;
}

#header h3{
  color: green;
  font-weight: bold;
  margin-left: 20px;
  padding-bottom: 30px;
}

#header li {
  margin-left: 10px;
}

#inputfield {
  padding: 0;
  width: 218px;
  height: 26px;
  /* padding: 3px 3px 4px 3px; */
  background-color: rgba(255, 0, 0, 0.0);
  border-color: rgba(255, 0, 0, 0.0);
}

#inputfieldcontainer {
  width: 218px;
  height: 26px;
  margin-left: 100px;
  padding: 3px 3px 4px 3px;
    background: url(https://www.hulu.com/ns-huluguru/bg-search-bar-65f2da57ccdddd3b520b4027ed8ea6b3.png);
}

#header-right {
  margin-left: 500px;
}

#header-right li {
  margin-left: 20px;
}
/* --------------main grid--------- */
#watch-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  /* grid-auto-rows: minmax(100px, auto); */
  grid-column-gap: 16px;

  grid-template-areas:
  "tb tb1 tb2 tb3 tb4 tb5"
}

.thumbnail-row {
  min-width: 1500px;
  max-width: 1500px;
}

.thumbnail-block {
  grid-area: tb;
  background-color: white;
  width: 224px;
}

.thumbnail-block1 {
  grid-area: tb1;
  background-color: white;
  width: 224px;
}

.thumbnail-block2 {
  grid-area: tb2;
  background-color: white;
  width: 224px;
}

.thumbnail-block3 {
  grid-area: tb3;
  background-color: white;
  width: 224px;
}

.thumbnail-block4 {
  grid-area: tb4;
  background-color: white;
  width: 224px;
}

.thumbnail-block5 {
  grid-area: tb5;
  background-color: white;
  width: 224px;
}


/* -------------------top pics grid FLEX?---------------- */


#top-picks{
  /* max-height: 280px; */

  min-width: 1500px;
  max-width: 1500px;
  background-color: rgb(239,239,239);
}


#top-picks-container{
  display: flex;
  flex-wrap: wrap;

  background-color: rgb(239,239,239);
  /* overflow: hidden; */
  justify-content: space-around;
}

.top-picks-small-images {
  flex: 1;

}

.img-thumbnail-notxt{
  width: 224px;
  height: 128px;
  margin-left: 10px;
  margin-right: 10px;
}

.workahlics-img-big {

}



/* ---------------Hulu Originals------------- */
#hulu-originals {
  /* display: flex; */
}

.hulu-originals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.thumbnail-image-big-notes{
  display: flex;
  text-align: left;
  max-width: 704px;;
  background: white;
  float: left;
}

.original-small-images {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.img-thumbnail-notxt-flex {
  flex: 1;
    padding: 10px;
}

/* ----------------------------------------- */

/* --------------Funniest Families----------- */
/* Using grid with auto-template */

.big-to-small-thumnails {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  /* grid-auto-rows: minmax(100px, auto); */
  grid-column-gap: 16px;
  /* grid-rows 145px; */
  grid-auto-flow: dense;
}

.big-thumbnail-image{
  width: 476px;
  height: 268px;

  grid-column-start: 1;
  grid-row: 1 / 2;
  grid-gap: 10px;
}

#small-thumbnail-image {
  grid-column: 6 / 16;
  grid-row: 1/2;
  grid-gap: 10px;
}


/* .big-to-small-thumnails img:nth-child(1n+1) {
grid-rows

} */


/* -------------footer --------------- */

#footer{
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
  height: 170px;
  background-color: white;

}

.footer-images {
  width: 220px;
  height: 124px;
  margin-right: 18px;
  margin-top: 20px;
  position: relative;
  text-align: center;
  color: white;
}

.footer-text-tv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  line-height: 10px;
  border-top: 1px solid white;
  padding-top: 10px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}
